html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(48, 48, 48);
} 

*{
  box-sizing: border-box;
}

.color-gold {
  color: rgb(252, 227, 145);
}

.header {
  min-height: 1200px;
}

.monsieur-la-doulaise-regular {
  font-family: "Monsieur La Doulaise", cursive;
  font-weight: 400;
  font-style: normal;
}