html, body {
  margin: 0;
  background-color: rgb(61, 61, 61);
  font-family: "Sofia", sans-serif;
} 

*{
  padding: 0;
  box-sizing: border-box;
}

.header {
  position: relative;
  height: 300px;
  background: url("../assets/images/headermen.png") center -200px/ cover no-repeat;
  overflow: hidden;
}

.header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  filter: blur(8px);
  transform: scale(1.1);
}

.header > * {
  position: relative;
  z-index: 1;
}



.color-gold {
  color: rgb(252, 227, 145);
}

.bck-color-dark {
  background-color: black;
}

